.navbar-nav a {
    color: var(--bs-nav-link-color);
    text-decoration: none;
    padding: 10px;
}

.navbar-nav a:focus, .navbar-nav a:hover, .navbar-nav a.active {
    color: var(--bs-link-hover-color);
}


.navbar-nav .dropdown-item:focus, .navbar-nav .dropdown-item:hover {
    color: var(--bs-white);
    background-color: var(--bs-link-hover-color);
}